---
import { getCollection } from "astro:content";

import BaseLayout from "@/layouts/BaseLayout.astro";

import SectionHeading from "@/components/SectionHeading.astro";

import Hero from "@/components/Hero.astro";

import Section from "@/components/Section.astro";

import BlogSearch from "@/components/blog/BlogSearch.astro";

import CategoryChips from "@/components/blog/CategoryChips.astro";

import FeaturedArticle from "@/components/blog/FeaturedArticle.astro";

import BlogGrid from "@/components/blog/BlogGrid.astro";


const posts = await getCollection(
    "blog",
    ({ data }) => !data.draft
);


const sortedPosts = posts.sort(
    (a, b) =>
        b.data.publishDate.getTime()
        -
        a.data.publishDate.getTime()
);


const featuredPost =
    sortedPosts.find(
        (post) => post.data.featured
    )
    ??
    sortedPosts[0];


const remainingPosts =
    sortedPosts.filter(
        (post) =>
            post.id !== featuredPost?.id
    );

---

<BaseLayout
    title="مقالات آموزشی | دکتر فرشید فرداد"
    description="مقالات آموزشی درباره سرطان، بیماری‌های خون، روش‌های درمان و مراقبت از بیماران."
>


<Hero
    badge="مقالات آموزشی"
    titleLine1="دانش پزشکی"
    titleLine2="برای تصمیم‌های آگاهانه"
    description="مطالب معتبر پزشکی درباره سرطان، بیماری‌های خون، روش‌های درمان و مراقبت از بیماران."
    showButtons={false}
/>


<Section>

    <BlogSearch mode="redirect" />

</Section>


<Section background="secondary">

    <CategoryChips />

</Section>
<Section>
<SectionHeading
    title="پیشنهاد پزشک"
    subtitle="مقاله‌ای منتخب برای افزایش آگاهی بیماران و همراهان"
    ></SectionHeading>



{
    featuredPost && (

        

            <FeaturedArticle
                post={featuredPost}
            />

        
        

    )
}

</Section>
<Section>
    <SectionHeading
        title="آخرین مقالات آموزشی"
        subtitle="جدیدترین مطالب درباره سرطان، بیماری‌های خون و روش‌های درمان"
        ></SectionHeading>
    <BlogGrid
        posts={remainingPosts}
    />

</Section>


</BaseLayout>