---
import { icons } from "@/data/icons";
import { Image } from "astro:assets";
import type { Doctor } from "@/data/doctors";


interface Props {
  doctor: Doctor;
}


const {
  doctor
} = Astro.props;


const approach = doctor.treatmentApproach;

---
<section class="treatment-approach">

  <div class="container">


    <div class="approach-box">


        {approach.icon && (

            <div class="approach-icon">
          
              <Image
                src={icons[approach.icon]}
                alt=""
                width={32}
                height={32}
                aria-hidden="true"
                class="approach-icon__image"
              />
          
            </div>
          
          )}


      <h2>

        {approach.title ?? "رویکرد درمانی"}

      </h2>



      <div class="approach-content">

        {approach.paragraphs.map(paragraph => (

          <p>
            {paragraph}
          </p>

        ))}

      </div>


    </div>


  </div>

</section>


<style>

.treatment-approach {

  padding: 4rem 1.5rem;

  background: var(--color-bg-warm);

}


.approach-box {

  max-width: 850px;

  margin-inline: auto;

  text-align: center;

  padding: 3rem 2.5rem;

  background: var(--color-surface);

  border-radius: var(--radius-xl);

  box-shadow: var(--shadow-sm);

}


.approach-icon {

  width: 64px;

  height: 64px;

  margin: 0 auto 1.5rem;


  display: flex;

  align-items: center;

  justify-content: center;


  border-radius: 50%;


  background: rgba(215,175,114,.15);

  color: var(--color-brand-accent);

}


.approach-icon__image {
  width: 32px;
  height: 32px;
  display: block;
}


h2 {

  margin: 0 0 1.5rem;

  font-size: clamp(1.8rem, 3vw, 2.3rem);

  color: var(--color-text-primary);

}


.approach-content {

  text-align: right;

}


.approach-content p {

  margin: 0 0 1rem;

  line-height: 2;

  color: var(--color-text-secondary);

}


.approach-content p:last-child {

  margin-bottom: 0;

}
</style>
<style is:global>
@media(max-width:768px){

  .container .approach-box {

    padding: 2rem 1.25rem;

  }

}

</style>