---
import type { Publication } from "@/data/publications";

interface Props {
  publication: Publication;
}

const { publication } = Astro.props;
---

<article class="publication-card" dir="ltr">

  <h3>
    {publication.title}
  </h3>


  {publication.journal && (

    <p class="journal">
      {publication.journal}
    </p>

  )}


  {publication.year && (

    <span class="year">
      {publication.year}
    </span>

  )}

</article>


<style>

.publication-card {

  padding: 1.5rem;

  background: white;

  border-radius: var(--radius-lg);

  border: 2px solid var(--color-brand-green);

  box-shadow: var(--shadow);

  text-align: left;

}


h3 {

  margin: 0 0 1rem;

  font-size: 1.05rem;

  line-height: 1.8;

}


.journal {

  margin: 0;

  color: var(--color-text-secondary);

  line-height: 1.7;

}


.year {

  display: inline-block;

  margin-top: .75rem;

  color: var(--color-brand-accent-dark);

  font-weight: 600;

}

</style>