---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Hero from "@/components/Hero.astro";
import contactHero from "@/assets/images/contactHero.png"
import Section from "@/components/Section.astro";
import ContactGrid from "@/components/ContactGrid.astro";
import ContactCard from "@/components/ContactCard.astro";
import SectionHeading from "@/components/SectionHeading.astro";
import MapViewer from "@/components/MapViewer.astro";
import {maps} from "@/data/maps";
import Faq from "@/components/Faq.astro";
import Cta from "@/components/Cta.astro";
import { contactFAQ } from "@/data/contactFAQ";
import ButtonLink from "@/components/ButtonLink.astro";


---

<BaseLayout
    title="تماس با ما"
    description="اطلاعات تماس شامل شماره تلفن، آدرس، نقشه و لینک شبکه‌های اجتماعی"
    image="/default-og-image.jpg"
	>
    <Hero 
    badge="ارتباط با کلینیک"
    titleLine1="اطلاعات تماس،"
    titleLine2="آدرس و نوبت‌دهی"
    description="جهت هماهنگی زمان ویزیت و طرح سوالات خود، از طریق راه‌های ارتباطی زیر با منشی مطب در تماس باشید"
    image={contactHero}
    alt="تصویر بخش پذیرش کلینیک"
    >
    </Hero>
    <Section>
        <ContactGrid>
            <ContactCard 
            title="تلفن مطب"
            value="۰۲۱۴۶۱۲۹۱۴۳"
            href="tel://+982146129143"
            icon="/assets/icons/telephone.svg"
            >
            </ContactCard>
            <ContactCard 
            title="ایمیل"
            value="info@example.com"
            href="mailto:info@example.com"
            icon="/assets/icons/email.svg"
            >
            </ContactCard>
            <ContactCard 
            title="آدرس"
            value="تهران،صادقیه،خ ستارخان،بلوار شهدای صادقیه،خ پرویز،پ ۱۵، طبقه ششم"
            href="https://balad.ir/p/14SqiNjOfalJ3O"
            icon="/assets/icons/address.svg"
            >

            </ContactCard>
        </ContactGrid>
    </Section>
    <Section background="secondary">
      <SectionHeading 
        title="نقشه و مسیریابی کلینیک"
        subtitle="برای مشاهده مسیر، پلتفرم موردنظر خود را انتخاب کنید"
        >
      </SectionHeading>
      <div class="map-hour" id="map-hour">
        <div class="work-hour">
          <h3>راهنمای مسیریابی</h3>
          <p>پس از انتخاب پلتفرم، بر روی لینک «مشاهده در» کلیک کنید تا پلتفرم مسیریابی انتخاب شده فعال گردد.</p>
        </div>
        <div class="map">
          <MapViewer
            maps={maps}>
          </MapViewer>
        </div>
      </div>
    </Section>
    <Section>
        <SectionHeading 
        title="سوالات متداول">
        </SectionHeading>
        <Faq 
        items={contactFAQ}>
        </Faq>
    </Section>
    <Cta 
    title="اطلاعات بیشتری نیاز دارید؟"
    description="برای گرفتن نوبت ویزیت حضوری یا مشاوره آنلاین اقدام کنید"
    >
    <ButtonLink
    href="#doctors"
    text="انتخاب پزشک"
  />

  <ButtonLink
    href="/visit"
    variant="secondary"
    text="ویزیت حضوری"
  />
    </Cta>
</BaseLayout>


<style>
  .map-hour {
    display: flex;
  }

  .work-hour {
    flex: 2;
  }
  .map {
    flex: 3;
  }
  
</style>

<style is:global>
  @media (max-width:700px) {
    #map-hour {
      flex-direction: column;
    }
  }
    

</style>