---
import BaseLayout from "@/layouts/BaseLayout.astro";
import Hero from "@/components/Hero.astro";
import visitImage from "@/assets/images/visit.webp";
import Section from "@/components/Section.astro";
import NoticeBanner from "@/components/NoticeBanner.astro";
import { doctors } from "@/data/doctors";
import DoctorScheduleCard from "@/components/DoctorScheduleCard.astro";
import SectionHeading from "@/components/SectionHeading.astro";
import ContactGrid from "@/components/ContactGrid.astro";
import ReservationCard from "@/components/ReservationCard.astro";
import Faq from "@/components/Faq.astro";
import Cta from "@/components/Cta.astro";
import { visitFAQ } from "@/data/visitFAQ";
import ButtonLink from "@/components/ButtonLink.astro";

---

<BaseLayout
    title="ویزیت"
    description="روزها و ساعات ویزیت حضوری پزشکان در کلینیک و بیمارستان"
    image="/default-og-image.jpg"
	>
    <Hero 
        badge="زمان‌بندی ویزیت"
        titleLine1="برنامه حضور پزشکان"
        titleLine2="در مطب و بیمارستان"
        description="لطفاً پیش از مراجعه حضوری، برنامه زمان‌بندی زیر را بررسی نموده و جهت هماهنگی نهایی با شماره‌های مطب تماس حاصل فرمایید."
        image={visitImage}
        alt="تصویر اتاق انتظار کلینیک"
    >

    </Hero>
    <Section>
        <NoticeBanner

    type="warning"

    title="توجه"

    text="برنامه حضور پزشکان ممکن است در ایام تعطیل یا مناسبت‌های رسمی تغییر کند. لطفاً پیش از مراجعه با مطب تماس بگیرید."

/>
    </Section>
    <Section background="secondary">
        {doctors.map((doctor) => (

        <DoctorScheduleCard
    
            {...doctor}
            >
        </DoctorScheduleCard>
    
        
    
    ))}
    </Section>
    <Section>
        <SectionHeading 
        title="رزرو نوبت"
        >
            
        </SectionHeading>
        <ContactGrid>
            <ReservationCard 
                title="مطب "
                address="تهران،صادقیه،خ ستارخان،بلوار شهدای صادقیه،خ پرویز،پ ۱۵، طبقه ششم"
                phone="۰۲۱۴۶۱۲۹۱۴۳"
                href="tel://+982146129143/"
            >

            </ReservationCard>
            <ReservationCard 
                title="بیمارستان "
                address="تهران،صادقیه،خ ستارخان،بلوار شهدای صادقیه،خ پرویز،پ ۱۵، طبقه ششم"
                phone="۰۲۱۴۶۱۲۹۱۴۳"
                href="tel://+982146129143/"
            >

            </ReservationCard>
        </ContactGrid>
    </Section>
    <Section>
        <SectionHeading 
        title="سوالات متداول">
        </SectionHeading>
        <Faq 
        items={visitFAQ}>
        </Faq>
    </Section>
    <Cta 
    title="اطلاعات بیشتری نیاز دارید؟"
    description="برای گرفتن نوبت ویزیت حضوری یا مشاوره آنلاین اقدام کنید"
    >
    <ButtonLink
    href="#doctors"
    text="انتخاب پزشک"
  />

  <ButtonLink
    href="/visit"
    variant="secondary"
    text="ویزیت حضوری"
  />
    </Cta>
    
</BaseLayout>