---
import { doctors } from "@/data/doctors";
import { getDoctorPublications } from "@/lib/getPublications";
import BaseLayout from "@/layouts/BaseLayout.astro";
import type {Doctor} from "@/data/doctors"
import PublicationCard from "@/components/doctors/PublicationCard.astro";

interface Props {
  doctor: Doctor;
}

export async function getStaticPaths() {

return doctors.map((doctor) => ({

  params: {
    doctor: doctor.slug
  },

  props: {
    doctor
  }

}));

}

const { doctor: slug } = Astro.params;

const doctor = doctors.find((d) => d.slug === slug);

if (!doctor) {
  throw new Error("Doctor not found");
}

const doctorPublications = getDoctorPublications(doctor.id);



---

<BaseLayout 
title={`مقالات علمی ${doctor.name}`}
description="لیست کامل مقالات منتشر شده"
image="/default-og-image.jpg"
>

<section class="publications-page">


  <h1>
    مقالات علمی {doctor.name}
  </h1>


  <div class="publications-grid">

    {
      doctorPublications.map((publication) => (

        <PublicationCard
          publication={publication}
        />

      ))
    }

  </div>


</section>
    
    </BaseLayout>