---
import Section from "./Section.astro";
import Cta from "./Cta.astro";
import ButtonLink from "./ButtonLink.astro";
---
<Section>
    <Cta
  title="آماده شروع مشاوره آنلاین هستید؟"
  description="پزشک مورد نظر خود را انتخاب کنید و درخواست مشاوره را از طریق سامانه آکسون ثبت نمایید."
>

  <ButtonLink
    href="#choose-doctor"
    text="انتخاب پزشک"
  />

  <ButtonLink
    href="/visit"
    variant="secondary"
    text="ویزیت حضوری"
  />

</Cta>
</Section>