---
import Section from "./Section.astro";
import SectionHeading from "./SectionHeading.astro";
import Faq from "./Faq.astro";

import { consultationFAQ } from "@/data/consultationFAQ";
---

<Section>

  <SectionHeading
    title="سوالات متداول درباره مشاوره آنلاین"
    description="پاسخ به پرسش‌های رایج درباره فرآیند مشاوره، مدارک مورد نیاز و نحوه استفاده از این خدمت"
  />

  <Faq
    items={consultationFAQ}
  />

</Section>