---
import Section from "./Section.astro";
import SectionHeading from "./SectionHeading.astro";
import InfoCard from "./InfoCard.astro";

import { consultationPreparation } from "@/data/onlineConsultation";
import IconList from "./IconList.astro";
import NoticeBox from "./NoticeBox.astro";

---

<Section>

  <SectionHeading
    subtitle="پیش از مشاوره"
    title="برای مشاوره بهتر چه مدارکی آماده کنیم؟"
    description="آماده داشتن مدارک و اطلاعات پزشکی پیش از شروع مشاوره به پزشک کمک می‌کند وضعیت شما را دقیق‌تر بررسی کرده و پاسخ مناسب‌تری ارائه دهد."
  />

  <div class="preparation-grid" id="preparation-grid">

    <InfoCard
      title="مدارک پزشکی"
      icon="fileText"
    >

      <IconList
        items={consultationPreparation.documents}
        icon="check"
      />

    </InfoCard>

    <InfoCard
      title="اطلاعات مورد نیاز"
      icon="clipboardList"
    >

      <IconList
        items={consultationPreparation.information}
        icon="check"
    />

    </InfoCard>

  </div>

  <NoticeBox
    icon="info"
>
    <p>
        در صورتی که تمامی مدارک در دسترس نیست، همچنان می‌توانید درخواست مشاوره
        ثبت کنید. در صورت نیاز، پزشک مدارک تکمیلی را از شما درخواست خواهد کرد.
    </p>
</NoticeBox>

</Section>

<style>
.preparation-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 2rem;

  margin-top: 3rem;
}

</style>
<style is:global>
@media (max-width: 900px) {

  #preparation-grid {
    grid-template-columns: 1fr;
  }

}
</style>