---
import ButtonLink from './ButtonLink.astro';

interface Props {
  title: string;
  description?: string;
  
}

const {
  title,
  description
} = Astro.props;
---

<section class="cta">

  <div class="cta-content">

    <h2>{title}</h2>

    {description && (
      <p>{description}</p>
    )}

    <div class="hero-button">
      <ButtonLink 
      href="/contact"
      text= "مشاوره آنلاین"
      >
    
      </ButtonLink>
      <ButtonLink 
      href="/contact" 
      variant="secondary"
      text="رزرو نوبت"
      >
     
      </ButtonLink>
    </div>

  </div>

</section>

<style>
  .cta {
    padding: 4rem 2rem;
  
    

    text-align: center;

    background: white;

    color: var(--color-text-primary);
  }

  .cta-content {
    max-width: 400px;
    margin-inline: auto;
    background-color: var(--color-bg-hero);
    border-radius: 1.5rem;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .cta h2 {
    margin: 0 0 1rem;

    font-size: clamp(1.8rem, 4vw, 2.5rem);
  }

  .cta p {
    margin: 0 0 2rem;

    line-height: 1.8;

    opacity: 0.9;
  }
  .hero-button {
        display: flex;
        gap: 1rem;
    }
</style>