<div class="feature-grid" id="feature-grid">
    <slot />
  </div>
  
  <style>
    .feature-grid {
      width: min(100% - 2rem, 1200px);
      margin-inline: auto;
  
      display: grid;
      grid-template-columns: repeat(4, 1fr);
  
      gap: 2rem;
    }
  </style>
  <style is:global>
    @media (max-width: 1000px) {
      #feature-grid {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  
    @media (max-width: 600px) {
      #feature-grid {
        grid-template-columns: 1fr;
      }
    }
  </style>