---
interface Props {
  title: string;
  subtitle?: string;
  description?: string;
  align?: "left" | "center" | "right";
}

const {
  title,
  subtitle,
  description,
  align = "center"
} = Astro.props;
---

<header
  class:list={[
    "section-heading",
    `section-heading--${align}`
  ]}
>

  {subtitle && (
    <p class="section-heading__subtitle">
      {subtitle}
    </p>
  )}

  <h2 class="section-heading__title">
    {title}
  </h2>

  {description && (
    <p class="section-heading__description">
      {description}
    </p>
  )}

</header>

<style>
.section-heading {
  max-width: 44rem;

  margin-inline: auto;
  margin-bottom: 3rem;
}

.section-heading--center {
  text-align: center;
}

.section-heading--right {
  text-align: right;
}

.section-heading--left {
  text-align: left;
}

.section-heading__subtitle {
  display: inline-block;
  margin-bottom: 1rem;
  padding: 0.45rem 1rem;

  border: 2px solid var(--color-brand-green-light);
  border-radius: var(--radius-full);

  color: var(--color-brand-accent-dark);

  font-size: 0.95rem;
  font-weight: 500;
}

.section-heading__title {
    margin: 0;

    /* font-family: var(--font-estedad); */

    font-size: clamp(2rem, 3vw, 2.8rem);

    font-weight: 700;

    line-height: 1.35;

    color: var(--color-text-heading);

    text-wrap: balance;
}

.section-heading__description {
  max-width: 42rem;

  margin: 1rem auto 0;

  font-size: 1.1rem;
  line-height: 1.9;

  color: var(--color-text-secondary);
}

.section-heading--left .section-heading__description,
.section-heading--right .section-heading__description {
  margin-inline: 0;
}
</style>