---
interface Props {
  title: string;
  subtitle?: string;
  description?: string;
  align?: "left" | "center" | "right";
}

const {
  title,
  subtitle,
  description,
  align = "center"
} = Astro.props;
---

<header
  class:list={[
    "section-heading",
    `section-heading--${align}`
  ]}
>

  {subtitle && (
    <p class="section-heading__subtitle">
      {subtitle}
    </p>
  )}

  <h2 class="section-heading__title">
    {title}
  </h2>

  {description && (
    <p class="section-heading__description">
      {description}
    </p>
  )}

</header>

<style>
.section-heading {
  max-width: 48rem;

  margin-inline: auto;
  margin-bottom: 3rem;
}

.section-heading--center {
  text-align: center;
}

.section-heading--right {
  text-align: right;
}

.section-heading--left {
  text-align: left;
}

.section-heading__subtitle {
  display: inline-block;
  margin-bottom: 1rem;
  padding: 4px 12px;
  border-radius: var(--radius-full);
  color: var(--color-brand-accent-dark);
  font-size: var(--text-xl);
  font-weight: 500;
  border-radius: var(--radius-full);
  border: 3px solid var(--color-brand-green-light);
}

.section-heading__title {
  margin: 0;
 /* font-size: clamp(1.5rem, 4vw, 2rem); */
  /* line-height: 1.2; */
  color: var(--color-text-heading);
}

.section-heading__description {
  max-width: 42rem;

  margin: 1rem auto 0;

  /* font-size: 1.05rem; */
  line-height: 1.9;

  color: var(--color-text-secondary);
}

.section-heading--left .section-heading__description,
.section-heading--right .section-heading__description {
  margin-inline: 0;
}
</style>