<div class="services-grid" id="services-grid">
    <slot />
</div>

<style>
    .services-grid {
        width: min(100% - 2rem, 1200px);
        margin-inline: auto;

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }
</style>

<style is:global>
    @media (max-width: 1000px) {
        #services-grid {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    @media (max-width: 600px) {
        #services-grid {
            grid-template-columns: 1fr;
        }
    }
</style>