---
import type { CollectionEntry } from "astro:content";

interface Props {
  post: CollectionEntry<"blog">;
}

const { post } = Astro.props;

const {
  title,
  description,
} = post.data;
---

<header class="article-header">

  <h1>{title}</h1>

  <p class="description">
    {description}
  </p>

</header>


<style>

.article-header {
  text-align: center;
  margin-bottom: var(--space-2xl);
}

.article-header h1 {
  margin-bottom: var(--space-lg);
}

.description {
  color: var(--color-text-secondary);
  font-size: var(--text-lg);
  max-width: 700px;
  margin-inline: auto;
}

</style>