---
import type { CollectionEntry } from "astro:content";

import BlogCard from "./BlogCard.astro";

interface Props {

    posts: CollectionEntry<"blog">[];

}

const { posts } = Astro.props;
---

<div class="blog-grid" id="blog-grid">

    {

        posts.map(post => (

            <BlogCard post={post} />

        ))

    }

</div>

<style>

.blog-grid{

    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(340px,1fr));

    gap:var(--space-xl);

    align-items:stretch;

}

</style>

<style is:global>

@media(max-width:768px){

#blog-grid{

    grid-template-columns:1fr;

}

}

</style>