---
interface Props {

heroImage:string;

heroAlt?:string;

}

const{

heroImage,

heroAlt=""

}=Astro.props;
---

<section class="blog-layout">

<div class="blog-layout__hero">

    <img
        src={heroImage}
        alt={heroAlt}
    />

</div>

<article class="blog-layout__article container-narrow">

    <slot />

</article>

</section>

<style>

.blog-layout{

display:flex;

flex-direction:column;

}

.blog-layout__hero{

width:100%;

aspect-ratio:16/9;

overflow:hidden;

margin-bottom:var(--space-3xl);

}

.blog-layout__hero img{

width:100%;

height:100%;

object-fit:cover;

display:block;

}

.blog-layout__article{

display:flex;

flex-direction:column;

gap:var(--space-2xl);

}

</style>