---
import '../components/Header.astro'
import Header from '../components/Header.astro';
import '../styles/global.css';
---
<!DOCTYPE html>
<html lang="fa-IR" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta property="og:title" content="فوق تخصص خون و سرطان تهران | دکتر انصاری‌نژاد و دکتر فرداد">
    <meta property="og:description" content="سایت علمی و درمانی دکتر نفیسه انصاری‌نژاد و دکتر فرشید فرداد. ارائه خدمات تخصصی درمان سرطان، شیمی‌درمانی و بیماری‌های خون در تهران.">
    <meta property="og:image" content="https://example.com/image.jpg"><!-- Link to a nice clinic photo -->
    <meta property="og:url" content="https://yourwebsite.com">
    <meta property="og:type" content="website">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="فوق تخصص خون و سرطان تهران | دکتر انصاری‌نژاد و دکتر فرداد">
    <meta name="twitter:description" content="سایت علمی و درمانی دکتر انصاری‌نژاد و دکتر فرداد.">
    <meta name="robots" content="index, follow">
    <meta name="description" content="سایت علمی و درمانی دکتر نفیسه انصاری‌نژاد و دکتر فرشید فرداد. ارائه خدمات تخصصی درمان سرطان، شیمی‌درمانی و بیماری‌های خون در تهران. جهت مشاهده برنامه حضور در مطب کلیک کنید.">
    <title>فوق تخصص خون و سرطان تهران | دکتر انصاری‌نژاد و دکتر فرداد</title>
    <link rel="icon" href="favicon.svg" type="image/svg+xml">
    <link rel="icon" href="favicon32.png" sizes="32x32">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="stylesheet" href="assets/styles/style.css">
</head>
  <body>
    <Header />
    <slot />
  </body>
</html>